#maintable{
    background:wheat;
}
#tbheader{
    background:#337AB7;
    color: white;
    height: 40px;
}
#tbheader th{
  text-align: center;   
}
#clmenu{
width=20%;
background:#95B58C;
}
#clmenu a{
    color:black;
}